

body{
    background-image: url(../image/stockbg2.webp);
    }
a{
    color: aliceblue;
}

 h2{
    font-family: cursive;
    color: whitesmoke;

 }
.bigcontainer2{
    padding: 20pt 30pt;
    display: flex;
    justify-content: flex-end;
    gap: 4em;
    border-radius: 30pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 4px 4px 10px black;
    
}
.aboutbutton{
    text-decoration: overline;
    border-radius: 10pt;
    padding: 3pt;
}


.page{
    width: 100%;
    display: flex;
    
}
video{
    width: 50%;
    /* height: 300pt; */
}
.box{
    width: 50%;
/* height: 300pt; */
background-color: lightgreen;
text-align: justify;
box-shadow: 4pt 4pt 4pt;
line-height: 25pt;
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding:10pt;
font-size: larger;
text-shadow: 4pt 4pt 10pt black;

}
.boxlink{
    color: darkorchid;
    display: block;
    text-align: center;
    background-color: aliceblue;
    opacity: 0.6;
    
}


.about{
   display: flex;
   justify-content: space-between; 

}
.box1{
    background-color: transparent;
    width: 200pt;
    height: 250pt;
    padding-top: 20pt;
}
.rotated-text{
    font: 3em bold;
    transform: rotate(-90deg);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 50pt;
   text-shadow: 4pt 4pt 4pt white;
}
.list{
text-align: justify;
line-height: 25pt;
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 30pt;
font-size: larger;
background-color: aquamarine;
margin-bottom: 40pt;
box-shadow: 4pt 4pt 4pt 5pt;

}
.boxlink:hover{
    background-color: rgb(38, 155, 73);
   border-radius: 30pt;
   color: white;
}
.boxlink2{
    color: darkorchid;
    display: block;
    text-align: center;
    background-color: aliceblue;
    opacity: 0.6;
}


a{
    text-decoration: none;
}
.hey{
height: 57pt;
width: 150px;
left: 50px;
position: absolute;
top: 18px;
border-radius: 50%;
}
.nav-link:hover{
    background-color: rgb(38, 155, 73);
    border-style: hidden;
    padding: 2pt 3pt;
    color: white;
    border-radius: 30pt;
}
.socials{
    display: flex;
    background-color: rgb(105, 214, 105);
    gap: 100pt;
    padding: 20pt 30pt;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-logo{
    width: 100pt;
    height: 60pt;
    border-radius: 50%;

}
.logo{
    width: 100pt;
    height: 60pt;
    border-radius: 50%;
}
.fonts{
    display: flex;
    justify-content: flex-end;
    gap: 80pt; 
    padding-top: 10pt;
 }


    i{
        border-radius: 30pt;
        padding: 6pt;
        color: white;
    }
    
    .facebook{
        background-color: blue;
        border-radius: 50%;
    }
    .facebook:hover{
       background: local;
    }
    .twitter{
        background-color: rgb(151, 207, 245);
        border-radius: 50%;
    }
    .twitter:hover{
        background: local;
    }
    .youtube{
        background-color: red;
        border-radius: 50%;
    }
    .youtube:hover{
        background: local;
    }
    .instagram{
        background-color: rgb(202, 70, 202);
        border-radius: 50%;
    }
    .instagram:hover{
        background: local;
    }
    .linkedin{
        background-color: rgb(151,207,245);
        border-radius: 50%;
    }
    .linkedin:hover{
        background: local;
    }