.extras{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: aliceblue;
    color: rgb(7, 14, 20);
    padding: 10pt;
    border-radius: 10pt;
    width: 100pt;
}
